.rentalServiceListContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.formContainer {
  width: 75%;
}

.selectedRentalServiceContainer {
  width: 100%;
}

.allRentalServicesContainer {
  height: 60%;
  width: 100%;
}

.test {
  height: 20vh;
  width: 60vw;
}
