.rentalServiceListContainer {
  /* background-color: salmon; */
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.formContainer {
  /* background-color: blue; */
  width: 80%;
}

.selectedRentalServiceContainer {
  height: 20%;
  width: 100%;
  /* background-color: yellowgreen; */
}

.allRentalServicesContainer {
  height: 35%;
  width: 100%;
  /* background-color: yellow; */
}

.reservationInfoModalContainer {
  /* height: 100%; */
  /* width: 100%; */
}